* {
	font-family: helvetica;
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

.submenu {
	float: left;
	padding: 15px;
	position: relative;
}

.submenuContainer {
	border: 1px solid black;
	background-color: adadad;
}

.submenuHeading {
	float: right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	font-weight: bold;
	position: relative;
}

p {
		padding: 20px 10px 0px 10px;
}

.chicken {
	background-color: d49520;
}


.beef {
	background-color: b50b0b;
	color: FFFFFF;
}

.sushi {
	background-color: 20b6d4;
}

/* Media Selectors */
/* Desktop */
@media (min-width: 992px)
{
	
	.submenu {
		width: 33%;
	}
	
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px)
{
	
	.submenu {
		width: 50%;
	}
	
	.subsushi{
		width: 100%;
	}
}

/* Smartphone */
@media (max-width: 767px)
{
	
	.submenu {
		width: 100%;
	}
	
}